body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("elektronski-potpis-2.webp");
    background-size: cover;
}

.container {
    text-align: center;
}

#signatureOutput {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    word-wrap: break-word; /* Ako već nije dodano, osigurava prelamanje teksta */
    max-width: 600px; /* Ograničava širinu potpisa */
    overflow-wrap: break-word; /* Osigurava prelamanje na svim uređajima i preglednicima */
    white-space: pre-wrap; /* Poštuje white-space u potpisu */
}

.custom-file-input {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #4232a8;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
.custom-file-input:hover {
    background-color: #4232a8;
}

#signBtn{
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #4232a8;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: none;
}
#signBtn:hover{
    background-color: #4232a8;
}
